################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/formatters-added/SimpleApi/bin/Debug/netcoreapp3.1
