
@{
    ViewData["Title"] = "GoodApi";
}

<h2>Good Api</h2>

<h4>Yay!  It worked!</h4>
<p>API logs a DEBUG entry with the call made by this page (logged due to appsettings.json config).</p>

<h5>API Response: [@ViewBag.Json]</h5>
